@use "../variables";
@use "../misc";

.instagram-feed {
    max-width: 2500px;
    margin: 75px auto;
    background-color: variables.$primary-color;

    @media (min-width: 991px) {
        margin: 135px auto;
    }
    
    h3 {
        color: black !important;
        font-weight: 700;
        line-height: 1.1 !important;
        @include misc.responsive-font(21,26);
    }

    &.inverted {
        background-color: white;
    }
}