{% extends '_layouts/site-content' %}

{% block content %}

    {% if entry is defined %}
        

        

        <!-- Instagram -->
        <div class="delimiter--style-1 mb-5">
            <div class="delimiter-title-wrapper">
                <div class="delimiter-title">
                    <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Naše Instagram objave</h3>
                </div>
            </div>
        </div>
        <section class="blogs sct-color-2 slice-sm">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="col">
                        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                        <div class="elfsight-app-b5af9eb8-ed43-4b8b-825f-32434906e375"></div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}