<!-- Slider -->
<section class="swiper-js-container background-image-holder" data-holder-offset="">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-autoheight="true">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="8000">
                <div class="holder-item sct-color-2 slice pb-0">
                    <div class="container d-flex">
                        <div class="row cols-xs-space cols-sm-space cols-md-space">
                            <div class="col-lg-5 text-center text-lg-left align-self-center">
                                <h1 class="heading heading-1 strong-400 animated" data-animation-in="fadeInUp" data-animation-delay="200">
                                    INEG
                                </h1>
                                <h2 class="heading heading-2 strong-400 animated" data-animation-in="fadeInUp" data-animation-delay="200">
                                    Inštitut nizkoenergijske gradnje
                                </h2>
                                <p class="lead mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="600">
                                    Les je lep, slama je moderna!
                                </p>
                            </div>

                            <div class="col-lg-7 ml-lg-auto align-self-end">
                                <img src="/assets/images/custom/house.png" class="img-fluid img-center animated py-5 my-5" data-animation-in="fadeIn" data-animation-delay="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
    </div>
</section>
