$font-family-albert: 'Albert Sans', sans-serif;
$font-family-jost: 'Jost', sans-serif;


$primary-color: #f89b53;
$primary-color-light: #ffbb86;
$primary-color-dark: #d67f3c;
$dark-color: #111111;
$default-color: #404040;