
{% if field.instagram %}
<section class="blogs slice instagram-feed {{ field.customCssClasses }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3 class="heading heading-2 mb-4 mb-lg-5 text-white">
                    Sledite nam na Instagramu: @ineg_slovenia
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-b5af9eb8-ed43-4b8b-825f-32434906e375"></div>
            </div>
        </div>
    </div>
</section>
{% endif %}
