{% if field.video %}
<section class="bg-black">
    <div class="container p-0">
        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-9ecb4462-0eab-4838-9b35-5af63b647f61"></div>
            </div>
        </div>
    </div>
</section>
{% endif %}